@media(width >= 400px){
    footer {
        padding: 50px 40px 46px;

        .top {
            .more {
                justify-content: space-between;
            }
        }
    }
}

@media(width >= 450px){
    main {
        form {
            width: 390px;

            .title_box {
                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }
            }

            .input_box {
                input {
                    width: 330px;
                }
            }

            button {
                width: 330px;
            }

            .else_box {
                small {
                    font-size: 16px;
                }
            }
        }
    }

    .login_page main form .title_box {
        width: 306px;
    }

    footer {
        padding: 50px 50px 46px;
    }
}

@media(width >= 480px){
    footer {
        padding: 50px 60px 46px;
    }
}

@media(width >= 520px){
    main {
        form {
            width: 480px;

            .input_box {
                input {
                    width: 420px;
                }
            }

            button {
                width: 420px;
            }
        }
    }
    
    footer {
        padding: 50px 70px 46px;
    }
}

@media(width >= 600px){
    footer {
        .top {
            .more {
                flex-direction: column;

                .info, .category {
                    ul {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        column-gap: 27.5px;

                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media(width >= 700px){
    main {
        form {
            width: 583px;

            .input_box {
                input {
                    width: 523px;
                }
            }

            button {
                width: 523px;
            }
        }
    }

    footer {
        .top {
            .social {
                p {
                    max-width: 600px;
                }
            }
            .contact {
                max-width: 100%;

                span {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media(width >= 820px){

    footer {
        .top {
            .social {
                display: grid;
                grid-template-columns: 300px 1fr;

                a {
                    align-items: start;
                }

                p {
                    margin-bottom: 0;
                    max-width: 307px;
                }
            }
        }
    }
}

@media(width >= 900px){
    footer {
        padding: 50px 100px 46px;

        .top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 100px;
            position: relative;

            .social {
                display: flex;
                flex-direction: column;
                gap: 35px;

                a {
                    gap: 8px;

                    img {
                        width: 33px;
                    }

                    span {
                        font-size: 36px;
                    }
                }

                p {
                    margin-bottom: 30px;
                }

                ul {
                    position: absolute;
                    bottom: 10px;
                    right: 0;

                    img {
                        height: 33px;
                        width: 33px;
                    }

                }
            }

            .more {
                flex-direction: row;
                justify-content: space-between;

                .info, .category {
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media(width >= 1100px){
    header {
        a {
            font-size: 24px;

            img {
                width: 22.5px;
            }
        }
    }

    main {
        display: flex;
        flex-direction: row;
        padding-left: 50px;

        form {
            margin: 0;

            .title_box {
                gap: 20px;
                align-items: flex-start;
                width: 100%;
                height: auto;

                h1 {
                    font-size: 32px;
                }
            }

            small {
                align-items: flex-start;
                width: 100%;
            }

            .else_box {
                flex-direction: row;
                align-items: center;

                ul {
                    justify-content: flex-start;
                    width: auto;
                }
            }
        }

        .tennis {
            display: flex;
            width: 50%;
            justify-content: center;

            .tennis1 {
                transform: rotate(-3deg);
            }

            .tennis2 {
                display: none;
            }
        }
    }

    .register_page main form {
        max-height: 399px;
    }

    .login_page main form {
        max-height: 564px;
    }

    footer {
        padding: 50px 50px 46px;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .social {
                a {
                    margin: 0;
                }

                ul {
                    position: static;

                    img {
                        height: 20.11px;
                        width: 20.11px;
                    }
                }
            }

            .more {
                gap: 30px;
            }

            .contact {
                max-width: 233px;
            }
        }
    }
}

@media(width >= 1200px){
    main {
        padding-left: 65px;
    }
    
    footer {
        padding: 50px 60px 46px;

        .top {
            .more {
                gap: 100px;
            }
        }
    }
}

@media(width >= 1300px){
    main {
        padding-left: 80px;

        .tennis {
            .tennis1 {
                transform: translate(144px, -45px);
            }

            .tennis2 {
                display: flex;
                transform: rotate(4deg);
                transform: translate(-30px, 120px);
            }
        }
    }
    
    footer {
        padding: 50px 100px 46px;
    }
}

@media(width >= 1440px){
    main {
        padding-left: 100px;
    }
}