@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
}

html, body {
    height: 100%;
}

header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    a {
        display: flex;
        gap: 4.36px;
        font-size: 19.85;
        font-weight: 600;
        color: #C92071;
        text-decoration: none;
    }
}

main {
    padding: 63px 0 82px;
    background: linear-gradient(#B5B6F2, #EFEFFF);

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 4px;
        width: 315px;
        margin: 0 auto;
        padding: 30px;
        gap: 30px;

        .title_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 58px;
            width: 255px;

            h1 {
                display: flex;
                align-items: center;
                height: 34px;
                color: #1F1F1F;
                font-size: 22px;
                font-weight: 700;
                line-height: 34px;
                letter-spacing: 2px;
            }

            p {
                display: flex;
                align-items: center;
                height: 34px;
                color: #474747;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.25px;
            }

            a {
                color: #474747;
            }
        }

        .input_box {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                font-size: 12px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.75px;
                color: #474747;
            }

            input {
                height: 60px;
                width: 255px;
                border: none;
                outline-color: #C92071;
                border-radius: 8px;
                background-color: #4747470A;
                padding: 16px 12px;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.75px;

                &::placeholder {
                    color: #66666699;
                }
            }
        }

        button {
            background-color: #C92071;
            color: #F5F5F5;
            font-size: 16px;
            font-weight: 700;
            height: 48px;
            width: 255px;
            border: none;
            border-radius: 8px;

            &:active {
                background-color: #991956;
            }
        }
    }

    .esqueci_senha{
        color: #474747;
    }

    .else_box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;

        small {
            font-weight: 500;
            color: #474747;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.25px;
        }

        ul {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            height: 24px;
            width: 24px;
            gap: 24px;

            img {
                height: 24px;
                width: 24px;
            }
        }
    }
}

footer {
    background-color: #1F1F1F;
    color: white;

    .logo_footer {
        display: flex;
        gap: 4.36px;
        font-size: 24.46;
        font-weight: 600;
        text-decoration: none;
        margin-left: 20px;
        padding-top: 53.58px;
    }

    .about_footer {
        margin: 20.22px 74px 30px 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
    }

    .social_media {
        display: flex;
        gap: 35.8px;
        margin: 0 16px 40.47px;
    }

    .info {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-left: 20px;

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        ul {
            line-height: 31px;
        }

        a {
            font-size: 16px;
            font-weight: 400;
            color: white;
            text-decoration: none;
        }
    }

    .contato {
        margin: 40px 20px 0;

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .contato_info {
            font-size: 16px;
            font-weight: 400;
            line-height: 31px;
            margin-right: 74px
        }
    }

    hr {
        margin: 40px 26.04px 23px;
    }

    .marca {
        display: flex;
        justify-content: center;
        padding: 0 26px 40px;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
    }
}